<section class="preview">
  <app-icon #icon></app-icon>
</section>

<section class="control">
  <!-- --------------------------------------------------------------------- -->
  <!--  Background                                                           -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header">
    <div slot="header">Background</div>

    <div class="grid">
      <!-- Top-Left color gradient -->
      <div style="grid-row: 1; grid-column: 1">
        <sl-color-picker
          size="large"
          data-key="backgroundColor1"
        ></sl-color-picker>
      </div>

      <!-- Bottom-Right color gradient -->
      <div style="grid-row: 4; grid-column: 4">
        <sl-color-picker
          size="large"
          data-key="backgroundColor2"
        ></sl-color-picker>
      </div>

      <!-- Rect -->
      <div
        style="
          grid-column: 2 / 4;
          grid-row: 2 / 4;
          background-color: var(--sl-color-neutral-50);
          border: 1px solid var(--sl-color-neutral-400);
          height: 100%;
        "
        [style.border-top-left-radius]="
          (icon.settings.backgroundTopLeft ? 26 : 4) + 'px'
        "
        [style.border-top-right-radius]="
          (icon.settings.backgroundTopRight ? 26 : 4) + 'px'
        "
        [style.border-bottom-left-radius]="
          (icon.settings.backgroundBottomLeft ? 26 : 4) + 'px'
        "
        [style.border-bottom-right-radius]="
          (icon.settings.backgroundBottomRight ? 26 : 4) + 'px'
        "
      >
        &nbsp;
      </div>

      <!-- Toggle: left top -->
      <div style="grid-row: 2; grid-column: 2; padding: 18px 20px 20px 18px">
        <sl-switch
          [checked]="icon.settings.backgroundTopLeft"
          (sl-change)="icon.change('backgroundTopLeft', etob($event))"
        ></sl-switch>
      </div>

      <!-- Toggle: right top -->
      <div style="grid-row: 2; grid-column: 3; padding: 18px 10px 20px 20px">
        <sl-switch
          [checked]="icon.settings.backgroundTopRight"
          (sl-change)="icon.change('backgroundTopRight', etob($event))"
        ></sl-switch>
      </div>

      <!-- Toggle: left bottom -->
      <div style="grid-row: 3; grid-column: 2; padding: 20px 20px 18px 18px">
        <sl-switch
          [checked]="icon.settings.backgroundBottomLeft"
          (sl-change)="icon.change('backgroundBottomLeft', etob($event))"
        ></sl-switch>
      </div>

      <!-- Toggle: bottom right -->
      <div style="grid-row: 3; grid-column: 3; padding: 20px 10px 18px 20px">
        <sl-switch
          [checked]="icon.settings.backgroundBottomRight"
          (sl-change)="icon.change('backgroundBottomRight', etob($event))"
        ></sl-switch>
      </div>
    </div>
  </sl-card>

  <!-- --------------------------------------------------------------------- -->
  <!--  Dashes                                                               -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header">
    <div slot="header">Dashes</div>
    <sl-color-picker size="large" data-key="dashesColor"></sl-color-picker>
  </sl-card>

  <!-- --------------------------------------------------------------------- -->
  <!--  Shape                                                                -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header">
    <div slot="header">Shape</div>

    <sl-color-picker size="large" data-key="shapeColor"></sl-color-picker>

    <p>
      <sl-switch
        [checked]="icon.settings.shapeGap"
        (sl-change)="icon.change('shapeGap', etob($event))"
      >
        gap
      </sl-switch>
    </p>
  </sl-card>

  <!-- --------------------------------------------------------------------- -->
  <!--  Eye                                                                  -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header">
    <div slot="header">
      <sl-switch
        [checked]="icon.settings.eyeEnabled"
        (sl-change)="icon.change('eyeEnabled', etob($event))"
      >
        Eye
      </sl-switch>
    </div>
    <sl-input
      type="number"
      min="0"
      [value]="icon.settings.eyeSize"
      (sl-change)="icon.change('eyeSize', eton($event))"
    >
      <sl-icon name="aspect-ratio" slot="prefix"></sl-icon>
    </sl-input>
    <sl-input
      type="number"
      [min]="icon.settings.eyeSize"
      [max]="icon.CONST.SIZE"
      [value]="icon.settings.eyeX"
      (sl-change)="icon.change('eyeX', eton($event))"
    >
      <sl-icon name="arrow-bar-right" slot="prefix"></sl-icon>
    </sl-input>
    <sl-input
      type="number"
      [min]="icon.settings.eyeSize"
      [max]="icon.CONST.SIZE"
      [value]="icon.settings.eyeY"
      (sl-change)="icon.change('eyeY', eton($event))"
    >
      <sl-icon name="arrow-bar-down" slot="prefix"></sl-icon>
    </sl-input>
  </sl-card>

  <!-- --------------------------------------------------------------------- -->
  <!--  Dots                                                                 -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header">
    <div slot="header">
      <sl-switch
        [checked]="icon.settings.dotsEnabled"
        (sl-change)="icon.change('dotsEnabled', etob($event))"
      >
        Dots
      </sl-switch>
    </div>
    <sl-input
      type="number"
      min="0"
      [value]="icon.settings.dotsSize"
      (sl-change)="icon.change('dotsSize', eton($event))"
    >
      <sl-icon name="aspect-ratio" slot="prefix"></sl-icon>
    </sl-input>
    <sl-input
      type="number"
      [min]="icon.settings.dotsSize"
      [max]="icon.CONST.SIZE"
      [value]="icon.settings.dotsGap"
      (sl-change)="icon.change('dotsGap', eton($event))"
    >
      <sl-icon name="distribute-horizontal" slot="prefix"></sl-icon>
    </sl-input>
    <sl-input
      type="number"
      [min]="icon.settings.dotsSize"
      [max]="icon.CONST.SIZE"
      [value]="icon.settings.dotsX"
      (sl-change)="icon.change('dotsX', eton($event))"
    >
      <sl-icon name="arrow-bar-right" slot="prefix"></sl-icon>
    </sl-input>
    <sl-input
      type="number"
      [min]="icon.settings.dotsSize"
      [max]="icon.CONST.SIZE"
      [value]="icon.settings.dotsY"
      (sl-change)="icon.change('dotsY', eton($event))"
    >
      <sl-icon name="arrow-bar-down" slot="prefix"></sl-icon>
    </sl-input>
  </sl-card>
</section>

<section class="control">
  <!-- --------------------------------------------------------------------- -->
  <!--  Background                                                           -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header list">
    <div slot="header">Background</div>

    <sl-button size="small" (click)="setBackground('#104FD0', '#6B98F4')">
      Reset color
    </sl-button>
    <sl-button size="small" (click)="setBackground('#3A76F0', '#3A76F0')">
      Set Signal color
    </sl-button>
    <sl-button size="small" (click)="setBackground('#26DAFB', '#00D4D9')">
      Set Whisperfish color
    </sl-button>
    <sl-button size="small" (click)="setBackground('#0CCAD6', '#1C8E7C')">
      Set Sailfish SMS color
    </sl-button>
    <sl-button size="small" (click)="setBackground('#4F79FF', '#0025A2')">
      Set Royal blue
    </sl-button>
  </sl-card>

  <!-- --------------------------------------------------------------------- -->
  <!--  Download                                                             -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header">
    <div slot="header">Download</div>
    <sl-button variant="primary" outline (click)="download()" disabled>
      Download
    </sl-button>
    <p>(soon)</p>
  </sl-card>

  <!-- --------------------------------------------------------------------- -->
  <!--  Settings                                                             -->
  <!-- --------------------------------------------------------------------- -->
  <sl-card class="card-header">
    <div slot="header">
      <sl-switch [checked]="devMode" (sl-change)="devMode = etob($event)">
        Settings
      </sl-switch>
    </div>
    <pre *ngIf="devMode" [innerText]="icon.settings | json"></pre>
  </sl-card>
</section>

<footer>
  <section>
    2022 - Created by baxyz -
    <a href="https://github.com/baxyz" target="_blank">
      <sl-icon name="github"></sl-icon>
    </a>
    -
    <a href="https://matrix.to/#/@baxyz:matrix.org" target="_blank">
      <sl-icon name="chat-dots"></sl-icon>
    </a>
  </section>
  <section>
    <a
      href="https://github.com/baxyz/whisperfish-icon-generator"
      target="_blank"
    >
      <sl-icon name="git"></sl-icon> source code
    </a>
  </section>
</footer>
