:host {
  app-icon {
    display: inline-block;
    height: 256px;
    width: 256px;
  }

  > section {
    padding: 20px;
  }

  section.preview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: var(--sl-spacing-small);
  }

  section.control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    row-gap: var(--sl-spacing-small);
    column-gap: var(--sl-spacing-small);

    sl-card.list {
      width: 200px;

      sl-button {
        width: 100%;

        & + sl-button {
          margin-top: var(--sl-spacing-x-small);
        }
      }
    }

    .grid {
      display: inline-grid;
      align-items: center;
    }

    sl-card::part(base) {
      height: 100%;
    }

    sl-input {
      width: 120px;

      & + sl-input {
        margin-top: var(--sl-spacing-small);
      }
    }
  }

  footer {
    margin-top: var(--sl-spacing-large);
    border-top: 1px solid var(--sl-color-neutral-50);

    padding: var(--sl-spacing-large);

    color: var(--sl-color-neutral-300);

    > section:not(:first-child) {
      margin-top: var(--sl-spacing-small);
    }

    a {
      &,
      &:link,
      &:visited,
      &:hover,
      &:active,
      &:-webkit-any-link {
        text-decoration: none;
      }

      &,
      \deep\ sl-icon {
        &,
        &:link,
        &:visited,
        &:-webkit-any-link {
          color: var(--sl-color-neutral-500);
        }

        &:hover,
        &:active {
          color: var(--sl-color-primary-500);
        }
      }
    }
  }
}
