<app-icon></app-icon>

<fieldset>
  <legend>Background Shape</legend>

  <!-- TOP -->
  <label>Top corners</label>
  <section>
    <input
      type="checkbox"
      clrToggle
      [checked]="settings.BgTopLeft"
      (change)="update('BgTopLeft', etob($event))"
    />
    <label>Left</label>
  </section>
  <section>
    <input
      type="checkbox"
      clrToggle
      [checked]="settings.BgTopRight"
      (change)="update('BgTopRight', etob($event))"
    />
    <label>Right</label>
  </section>

  <!-- BOTTOM -->
  <label>Bottom corners</label>
  <section>
    <input
      type="checkbox"
      clrToggle
      [checked]="settings.BgBottomLeft"
      (change)="update('BgBottomLeft', etob($event))"
    />
    <label>Left</label>
  </section>
  <section>
    <input
      type="checkbox"
      clrToggle
      [checked]="settings.BgBottomRight"
      (change)="update('BgBottomRight', etob($event))"
    />
    <label>Right</label>
  </section>
</fieldset>
