:host {

  app-icon {
    display: block;
    height: 300px;
    width: 300px;
  }

  sl-split-panel {

    [slot=start] {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    [slot=end] {
      padding: 20px;

      .grid {
        display: inline-grid;
        grid-gap: 20px;
      }

    }

  }
}
